#phase-one {
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin: auto;
  row-gap: 1rem;
  text-align: center;
}

#phase-one-input {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#phase-one-btns {
  display: flex;
  gap: 2rem;
}

.btn,
#size-input {
  border: none;
  border-radius: 10px;
  color: var(--black-color);
  font-size: larger;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  width: 5rem;
}

.btn {
  background-color: var(--green-bg);
  cursor: pointer;
}

#size-input,
#size-submit {
  margin: 0 auto;
}
